#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) "$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios/Flutter.xcframework/ios-arm64"
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) "$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios/Flutter.xcframework/ios-arm64_x86_64-simulator"
OTHER_LDFLAGS = $(inherited) -framework Flutter
SWIFT_ACTIVE_COMPILATION_CONDITIONS[sdk=iphoneos27.*] = $(inherited) CONDUIT_PCC_SDK
SWIFT_ACTIVE_COMPILATION_CONDITIONS[sdk=iphonesimulator27.*] = $(inherited) CONDUIT_PCC_SDK
